*{
    -webkit-font-smoothing: antialiased;
}
*, ::after, ::before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    
}

.video1, .video2, .video3, .video4{
object-fit: contain;
width: 100%;

}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: grid;
}
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
     
  }

  
  .grid span {
    
    grid-column: auto / span 2;
   width: auto;


  }


  
  .grid span:nth-child(1),
  .grid span:nth-child(2) {
    grid-column: auto / span 3;
  }
  .grid span:nth-child(4){
  grid-column:auto / span 4;
  }


.hero-large{
    width: 100%;
    height: 100vh;
}
/* background of found*/

.hero-large .iframe-wrapper{
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: #c7ccdb;
}

/* Video Background cover of Found*/
.hero-large .iframe-wrapper iframe{
    -webkit-box-sizing: border-box;
    height: 56.25vw;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    -webkit-transform: translate(50%, 50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    width: 177.77777778vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #c7ccdb;
    opacity: 1;
}

/*Position center of IMG Found*/
.content {
   position: absolute;
    bottom: 0;
    height: auto;
    width: auto;
    color: #f1f1f1;
    padding: 0px;
    top: 40%;
    right: 400px; 
  }
  .all .arrow{
      position: absolute;
      bottom: 0;
      width: 64px;
      left: calc(50% - 25px);
      text-align: center;
      z-index: 2;
      height: 100px;
      border: 0;
  }
/*navbar section*/
.navbar-nav{
    margin-left: 850px;
    font-size: 20px;
    
}
.navbar-nav li:hover{
text-decoration: underline;
}


.h3{
font-size: 10px;
}


.text{
    height: 400px;
    position: absolute;
    padding: 5px 340px;
    display: flex;
    transform: translate(-15%);

    
   
}
.paragraf{
    position: relative;
    margin-right: 10%;
    font-size: 40px;
    font-family: DM Sans,sans-serif;

}

.page-colums{
    width: 100%;
}
.award-colum img{
   width: 70px;
}
/*Awards part*/
.award-columns{
    
    position: absolute;
    display: grid;
    flex-wrap: wrap;
    margin: auto;
    padding: 0 70px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:100px 100px;
    grid-gap: 122px;
    
}

.item {
    
    text-align: center;
    height: 300px;
}
h2 {
    margin: 0;
    color: #888;
    padding-top: 80px;
    font-size: 30px;
}
h3{
    color: black;
}
.p{
    color: black;
}









.item2 {float: right;
    margin-right: 450px;
     grid-area: menu; 
     height: 60vh;
     width: 83%;
     margin: 0;margin-top: 60px;
    }
.item3 {float: left;
     grid-area: main;
     margin-bottom: 300px;
     padding-left: 100px;
    }
.item4 {
    margin-bottom: 200px;
    margin-left: 600px;
     grid-area: right;
     }
.item5 {float: right;
    margin-bottom: 120px; 
    grid-area: footer;
    position: absolute;
    transform: translate(25%, -305%);
 }

.grid-container{
   
 display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
 
  padding: 10px;
  transform: translate(80% - 50%);
}


.work-cover{
    background-color: rgba(0,0,0,.3);
    position: absolute;
    width: calc(50.8% - 16px);
    height: 376px;
    
    padding:  5px;
    z-index: 1;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: rgb(8, 8, 8);
    overflow: hidden;
    opacity: 1;
}
.work-cover:hover{
    opacity: 0;
}

.work-cover1{
    background-color: rgba(0,0,0,.3);
    position: absolute;
    width: calc(33.8% - 16px);
    height: 499.5px;
    
    padding:  5px;
    z-index: 1;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: rgb(187, 164, 164);
    overflow: hidden;
    opacity: 1;
}
.work-cover1:hover{
    opacity: 0;
}

.work-cover2{
    background-color: rgba(0,0,0,.3);
    position: absolute;
    width: calc(67.4% - 16px);
    height: 499.5px;
    
    padding:  5px;
    z-index: 1;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: rgb(8, 8, 8);
    overflow: hidden;
    opacity: 1;
}
.work-cover2:hover{
    opacity: 0;
}
/*.grid-container {
    position: relative;
  display: grid;
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  grid-template-areas:
    
    'main main  right right '
    'menu footer footer footer ';
    
  grid-gap: 10px;
  
  padding: 10px;
}*/









@media (min-width: 992px){
.page-intro .h3 {
    display: inline-block;
    width: 189px;
    margin-top: 5px;
}
}

@media (min-width: 576px){
.content{
 
  
}
.text{
    width: 100%;
    min-height: auto;
}
}

@media only screen and (min-width: 600px){
    .hero-iframe{
        width: 50%;
    }
        
    
}


  @media only screen and(min-width:576px){
      .mobile-overlay{
          padding: 64px 64px 40px;
      }
  }
  
  
  @media (min-width: 576px){
    .content{
     width: 50%;
     padding-left: 100px;
      
    }
}